<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="site/css/style.css">
</head>
<body>
<h1>{{caption}}</h1>
<img width="530px" src="site/images/pp.jpg" alt="pp">
</body>
</html>